<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      inscription
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #user="ngForm" (ngSubmit)="onRegister(UserPhone.value, UserPassword.value)">
    <ion-item>
      <ion-input type="text" #UserPhone name="UserPhone " ngModel placeholder="Phone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="password" #UserPassword name="UserPassword" ngModel placeholder="Password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Login</ion-button>
  </form>
  <ion-button routerLink="/register" color="primary" type="submit" size="medium">
    Inscription
  </ion-button>
</ion-content>
