<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      inscription
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #user="ngForm" (ngSubmit)="onRegister(user)">
    <ion-item>
      <ion-input type="text" #user.phone name="user.phone" ngModel ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" #user.nom_complet name="user.nom_complet" ngModel placeholder="nom complet"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="password" #user.password name="user.password" ngModel placeholder="Password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">incrire</ion-button>
  </form>
</ion-content>
